
.body{
    width: 1440px;
    margin: 0 auto;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* header styles */
.header{
    width: 1440px;
    height: 698px;
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.25);
    
    
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 151px;
     margin: 0 auto; 
     align-items: center;

}
.nav h1{
    font-size: 34px;
    font-weight: 900px;
    color:#4E47FF ;
}
.banner-section{
    text-align: center;

    margin: 155px auto;
    gap:37px ;
    width: 905px;
    height: 237px;

}
.banner-section h1{
    font-size: 65px;
    font-weight: bold;
}

/* shared styles */
.btn-primary{
    color: #FFFFFF;
    background-color: #4E47FF;
    padding:20px 36px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
/* action-section styles */
.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 328px;
    margin: 0 auto;
    margin-top: 116px;

}
.action-section-img{
    width: 403px;
    
}
.action-section-des{
    width: 517px;
    height: 203px;
    gap: 23px;
    text-align:left;
}
.action-sec-des-title{
    font-size: 42px;
    font-weight: 700px;
    color: #252432;
    margin: 23px 0;
}
.action-sec-des-subtitle{
    font-size: 24px;
    font-weight: 400px;
    color: rgba(37, 36, 50, 0.5);
    margin: 23px 0;
}